SNMP_IP=10.0.0.1
SNMP_PORT=161
SNMP_COMMUNITY=public
PORT=3000

# Parameter Kunci Deteksi Card & Port GPON
# TARGET_CARD: Nomor Card / Slot (Contoh: 1)
# TARGET_PORT: Nomor Port GPON (Contoh: 2)
# Kosongkan jika ingin memindai seluruh Card dan Port.
TARGET_CARD=1
TARGET_PORT=2

# Konfigurasi Koneksi SSH ke OLT untuk Push Registrasi ONU
OLT_SSH_HOST=10.0.0.1
OLT_SSH_PORT=22
OLT_SSH_USER=admin
OLT_SSH_PASS=
DEFAULT_ONU_TYPE=ZTEG-F609
TEMPLATE_FILE=template.txt
